---
import {type Project} from "../types/types";
import {softwareDev} from "@data/projects";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import ProjectComponent from "@compontents/ProjectComponent.astro";

---

<!DOCTYPE html>
<html
>
  <Header title="Coding + Analytics | Ona Z." />
  <body>
    <div class="content">
        <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Software Development</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {softwareDev.map((e:Project) => (
                      <ProjectComponent 
                        title={e.projectTitle} 
                        desc={e.desc}
                        tech={e.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
