---
import { type Project } from "../types/types";
import ProjectComponent from "../components/ProjectComponent.astro";
import { softwareDev } from '../data/projects';
import Layout from "@layouts/Layout.astro";

const navigationPage = "data-governance";
---

<Layout selectedItem={navigationPage}>
  <main class="main">
    <div class="container">
      <div class="back-nav-container">
        <a href="/" class="back-nav-button w-inline-block"
          ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
          <div>Back</div></a
        >
      </div>
      <div class="content-container">
        <h1>Data Governance</h1>
        <section class="items-container">
            <div class="resouce-items">
                {softwareDev.map((e:Project) => (
                  <ProjectComponent 
                    title={e.projectTitle} 
                    desc={e.desc}
                    tech={e.tech}
                  />
                ))}
              </div>
        </section>
      </div>
    </div>
  </main>
</Layout>
