---
import { type ComplexSkill } from "../types/types";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import SkillBlock from "@compontents/SkillBlock.astro";
import { SkillBlocks } from "@data/skill-blocks";
---


<!DOCTYPE html>
<html
>
  <Header title="Ona Z. Fernández" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>Hi, I'm Ona<br />I analyze trends and culture throught code, design and tech research.</h1>
              <p class="lead">
                Data analytics developer and Business Intelligent architect. 
              </p>
              <p class="lead"> 
                <br>I bring a proactive team spirit with a focus on identifying biases and meaningful context, skilled in optimizing processes and implementing adaptable and user-friendly solutions.</br>
              </p>
              <p>
                <br>Always curious, always learning!</p><br>
              </p>
              
            
            </div>
            <div class="button-list">
              <a href="mailto:a.ona.zetaefe@gmail.com" class="social-link"><img src="/assets/email.svg"  alt="email icon"/></a>
              <a href="https://github.com/omniaunusest" class="social-link"><img src="/assets/github.svg" alt="github icon"/></a>
              <a href="https://www.linkedin.com/in/a-ona-zeta/" class="social-link"><img src="/assets/linkedin.svg" alt="linkedin icon"/></a>
            </div>

          </main>
          <div class="projects-section">
            {
              SkillBlocks.map((s:ComplexSkill)=>
                <SkillBlock skillBlock={s}></SkillBlock>
              )
            }
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>

<style>
  .button-list{
    display:flex;
    gap:1em;
  }
  .social-link{
    padding: .7em;
  }
  .social-link > img{    
    width: 33px;
    height: auto;
  }
  .social-link:hover{
    background-color: #202020;
    box-shadow: 0 8px 12px rgba(8, 8, 8, 0.82);
    border-radius: .75em;
  }
</style>