---
import { type ComplexSkill } from "../types/types";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import SkillBlock from "@compontents/SkillBlock.astro";
import { SkillBlocks } from "@data/skill-blocks";
---


<!DOCTYPE html>
<html
>
  <Header title="Ana Mariona Z. Fernández" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>Hi, I'm Ona<br />I analyze trends and culture throught code, design and tech research.</h1>
              <p class="lead">
                Data analytics developer and Business Intelligent architect. 
              </p>
              <p class="lead"> 
                <br>"I bring a proactive team spirit with a focus on identifying biases and meaningful context, skilled in optimizing processes and implementing adaptable and user-friendly solutions.</br>
              </p>
              <p>
                <br>Always curious, always learning!</p><br>
              </p>
              
            
            </div>
            <a href="mailto:a.ona.zetaefe@gmail.com	" class="button w-button">Contact</a>
          </main>
          <div class="projects-section">
            {
              SkillBlocks.map((s:ComplexSkill)=>
                <SkillBlock skillBlock={s}></SkillBlock>
              )
            }
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>