---
import Layout from '@layouts/Layout.astro';
import ProjectComponent from '../components/ProjectComponent.astro';

const navigationPage = "personal-projects";

const projects = [
  {
    title: "TeleJS",
    desc: [
      "Built a lightweight, open-source Slack API framework for efficient bot development",
      "Developed in Node.js and published as an NPM package"
    ],
    tech: ["Node.js", "NPM"]
  },
  {
    title: "pyPrompter",
    desc: [
      "Contributed to a popular open-source Python pip package for building interactive CLIs",
      "Developed a feature that lets you 'freeze' inquirer choices"
    ],
    tech: ["Python"]
  },
  {
    title: "WebAssetHub",
    desc: [
      "Created a web scraper tool that monitors digital assets across multiple platforms and offers them at competitive prices",
      "Sold over 700 items"
    ],
    tech: ["Python", "Selenium"]
  }
];
---
<Layout selectedItem={navigationPage}>
  <main class="main">
    <div class="container">
      <div class="back-nav-container">
        <a href="/" class="back-nav-button w-inline-block"
          ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
          <div>Back</div></a
        >
      </div>
      <div class="content-container">
        <h1>Personal Projects</h1>
        <section class="items-container">
            <div class="resouce-items">
                {projects.map(project => (
                  <ProjectComponent 
                    title={project.title} 
                    desc={project.desc}
                    tech={project.tech}
                  />
                ))}
              </div>
        </section>
      </div>
    </div>
  </main>
</Layout>