---
import { type ComplexSkill, type Skill } from "../types/types"
interface Props{
    skillBlock : ComplexSkill
}
const { skillBlock } = Astro.props
---

<section class="projects-container">
             
    {
        skillBlock.image &&
        <div class="single-projects-category">
            <div class="projects-category-image-container">
                <img 
                    src={skillBlock.image} 
                    loading="lazy" 
                    alt="" 
                    class="projects-category-image" 
                />
            </div>
        </div>
    }                  
    <div class="single-projects-content">
        <h4>{skillBlock.title}</h4>
        {
            skillBlock.skills.map((skill:Skill)=>
                <div class="tech-tools-container">
                    <div class="mini-label-white gray-color">
                        {skill.skillTitle}
                    </div>
                    <div class="chips-container chips-container-small-width">
                        {
                            skill.techs.map((tech:string)=>
                                <div class="single-chip small-chip">{tech}</div>
                            )
                        }
                    </div>
                </div>
            )
        }        
    </div>
</section>