---
import Head from '@compontents/Head.astro';
import Sidebar from '@compontents/Sidebar.astro';

interface Props{
  selectedItem:string
}
const { selectedItem } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title="Coding + Analytics | Ona Z." />
	<body>
		<div class="content">
			<Sidebar selectedItem={selectedItem} />
			<slot />
		</div>		
	</body>
</html>

